<ion-header>
 <ion-navbar color="primary">
    <ion-title>Feed</ion-title>
     <ion-buttons end>
       <button ion-button icon-only (click)="goToProfile()">
        <ion-icon class="ion-ios-contact-outline"></ion-icon>
       </button>
    </ion-buttons>  
  </ion-navbar>
</ion-header>


  

<ion-content padding>

  

  <ion-content>

  <ion-refresher (ionRefresh)="reloadPosts($event)" *ngIf="segment=='all'">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div *ngIf="loading">
    <img src="assets/images/ring.gif" style="display:block; margin:auto" />
  </div>

  <ion-list *ngIf="!loading">
    <ion-item *ngFor="let post of posts"  (onViewComments)="viewComments($event)"></ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="fetchNextPosts($event)" threshold="10px">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
  </ion-content>
    <ion-fab bottom right>
    <button ion-fab mini (click)="createPost()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>


 



