<ion-header>
  <ion-navbar color="light">
		<ion-title>New Post</ion-title>
			<ion-buttons end>
    		<button ion-button (click)="cancelNewPost()">
     			 <ion-icon name="arrow-black"></ion-icon>Cancel
   	 		</button>
			</ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="test">
	<form [formGroup]="createPostForm" (ngSubmit)="onSubmit(createPostForm.value)">
	 <ion-item [class.error]="!title.valid && title.touched">
		  <ion-label floating>Title</ion-label>
		  <ion-input type="text" value="" [formControl]="title"></ion-input>
	 </ion-item>
			<div *ngIf="title.hasError('required') && title.touched" class="error-box">* Title is required.</div>
			 <div *ngIf="title.hasError('minlength') && title.touched" class="error-box">* Minimum title length is 4.</div>

  <ion-item>
	  <ion-label>Match Type</ion-label>
	  <ion-select multiple="false"[formControl]="matchtype">
				<ion-option value="singles">Singles</ion-option>
				<ion-option value="doubles">Doubles</ion-option>
	  </ion-select>
  </ion-item>
  
  <ion-item>
	  <ion-label>Match Mode</ion-label>
	  <ion-select multiple="false" [formControl]="matchmode">
				<ion-option value="recreational">Recreational</ion-option>
				<ion-option value="competitive">Competitive</ion-option>
	  </ion-select>
  </ion-item>
  
  <ion-item>
	  <ion-label>Best Of</ion-label>
	  <ion-select multiple="false"[formControl]="bestof">
				<ion-option value=3>3</ion-option>
			<ion-option value=5>5</ion-option>
	  </ion-select>
  </ion-item>
  
  <ion-item>
		<ion-label>Date of match</ion-label>
	  <ion-input type="date" [formControl]="dateofmatch"></ion-input>
  </ion-item>
  
  <ion-item>
		<ion-label>Location</ion-label>
		  <ion-input type="text" value="" [formControl]="location"></ion-input>
  </ion-item>
 			 <div *ngIf="location.hasError('required') && location.touched" class="error-box">* Location is required.</div>
			 <div *ngIf="location.hasError('minlength') && location.touched" class="error-box">* Minimum location length is 5.</div>
  
    <ion-item>
		  <ion-label>decription</ion-label>
		  <ion-textarea rows="5"[formControl]="description"></ion-textarea>
  </ion-item>
	 <div *ngIf="description.hasError('required') && description.touched" class="error-box">* Description is required.</div>
			 <div *ngIf="description.hasError('minlength') && description.touched" class="error-box">* Minimum description length is 10.</div>

	<button ion-button type="submit" class="custom-button" block>Submit</button>
	</form>
</ion-content>
