<ion-header>
  <ion-navbar color="primary">
    <ion-title>Profile</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="logOut()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list no-border *ngIf="userDataLoaded">
    <ion-list-header>
            User Info
   </ion-list-header>

    <ion-item>
      <h2>{{userProfile.username}}</h2>
      <p>{{tennisPalAccount.email}}</p>
    </ion-item>

  </ion-list>

  <ion-list *ngIf="userDataLoaded">

    <ion-list-header>
            Activity
    </ion-list-header>

    <ion-item>
            # Posts
            <ion-icon name='text' item-left></ion-icon>
            <ion-badge item-right>{{userStatistics.totalPosts}}</ion-badge>
        </ion-item>

        <ion-item>
            # Comments
            <ion-icon name='quote' item-left></ion-icon>
            <ion-badge item-right>{{userStatistics.totalComments}}</ion-badge>
        </ion-item>
        <ion-item>
            # Favorites
            <ion-icon name='heart' item-left></ion-icon>
            <ion-badge item-right>{{userProfile.totalFavorites}}</ion-badge>
        </ion-item>

    </ion-list>
</ion-content>
